*{
    box-sizing: border-box;

}
a{
    font-family: Arial, Helvetica, sans-serif;
}
html{
    height: 100%;
}
body{
    background-color: #0a0a0a;
    min-height: 100%;
  
    width: 100%;
    margin:0;
    padding:0;
}

.container-fluid{

margin: 0;
    padding: 0;
  
}

.nav-fixed{
    background-color: black;
    width: 200px;
    height: 1000px;
    position: fixed;
    z-index: 1;
  
}


.item{
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 160px;
    margin-left: 20px;

}
.item2{
    display: flex;
    align-items: center;
    width: 160px;
    margin-left: 20px;
    
}

.title{
    background-color: #0a0a0a;
   padding: 30px;
    color: white;
    margin-left: 200px;
    
}
.songs{
   height:100%;
    background-color: #0a0a0a;
    margin-left: 200px;
 display: flex;
}
.songs h1{
    color: white;
}

.nav-link{
    color: gray;
}
.nav-link:hover{
    color: white;
    transition: all 500ms;
 
}
.nav-search{
    padding-left: 8px;
}
.link-home{
    padding: 10px;
}
.content{
    height: 100px;
    width: 200px;
    margin-top: 30px;
    padding: 5px;
}
.div-search{
    display: flex;
   
}
.search{
 
    border: 0;
 background-color: black;
  width: 100%;
    display: flex;
    padding: 0;

}
.btn-search{
    height: 38px;
    border: 0;
    width: 40px;
}
.fa-search{
    color: white;
}
#search{
    width: 142px;
    padding: 0px;
    
  
}
.logoSpotify{
    height: 60px;
    width: 150px; 
    padding: 10px;
    margin-top: 10px;
    margin-left: 5px;

}
.home{
    height: 20px;
    margin-left: 30px;
}.row{
    height: 200px;
}
.title-menu{
    padding: 50px;
    margin-left: 200px;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu{

    height: 300px;
    margin-left: 200px;
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    
}
.cart-container{
    height: 100px;
}

.card{

    background-color: #1b1b1b;
}
.card:hover{
    background-color: rgb(37, 37, 37);
    transition: all 500ms;
    

}
.card-img-top{
    padding: 20px;
}
.card-title {
    color: white;
}
.card-text{
    color: white;
}

.fa-arrow-alt-circle-right{
    color: gray;
    font-size: 50px;
    transition: all 2s;
}
.fa-arrow-alt-circle-right:hover{
   color: green;
   transition: all 1s;
}
 .navArtista{
     height: 300px;
     margin-left: 200px;
     display: flex;
 background-image: url('./img/concerto.jpg');
 background-size: cover;
 background-position:center;
  align-items: center;

 }
 .imageArtist{
  width: 250px;
     height: 250px;
     box-shadow: 10px 10px 10px black;
     padding: 0;
     transition: all 1.5s;
 }
 .imageArtist:hover{
    width: 300px;
    height: 300px;
transition: all 1.5s;
 }
 .artistTitle{
    color:white;
padding: 50px;
font-size: 6em;
margin-right: 100px;
font-weight: bolder;
 }
 .songBox{
   
    background-image: linear-gradient(#52170b,#151515, #0a0a0a);
 }
 #songArtist{
     margin-top: 50px;
     margin-left: 200px;
     height: 400px;
     overflow: auto;
     
 }
 .song-details{
     display: flex;
margin-bottom: 10px;
     align-items: center;
 }
 .song-details:hover{
     background-color: rgb(128, 128, 128,0.3);
 }
 .songlist{
   color: white;

 }
.img-list{
    
 margin-bottom: 0;
    height: 50px;
    margin-right: 30px;
    padding: 4px;
}
 .titleAlbum{
    margin-top: 100px;
    margin-left: 200px;
    color: white;
    padding: 50px;
 }
 #albumArtist{
   margin-bottom: 100px;
     display: flex;
     flex-wrap: wrap;
     margin-left: 250px;
  
 }
 .songTitle{
     padding: 20px;
     color: white;
  margin-left: 200px;
 }
 .footer{
     height: 90px;
     background-color: #242424;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
 }
 .fa-play-circle{
    font-weight: lighter;
    color:#a8a7a7;
    font-size: 30px;
 }
 .fa-step-backward{
   
    color:#a8a7a7;
    font-size: 15px;
 }
 .fa-step-forward{
    color: #a8a7a7;
    font-size: 15px;
 }
 .fa-random{
    color: #a8a7a7;
    font-size: 15px;
 }
 .fa-redo-alt{
    color: #a8a7a7;
    font-size: 15px;
    font-weight: lighter;
 }
 .player-container{
     display: flex;
     flex-direction: column;
     align-items:center; 
    
 }
 .player{
     margin-right: 20px;
     margin-top: 20px;
     width: 300px;
     display: flex;
     align-items: baseline;
     justify-content: space-between;
}
.line{
    border-top: 3px solid #6e6e6e;
    width: 450px;

  
}
#footer-img{
    display: flex;

}
 
 .img-footer{
     height: 100px;
     padding: 20px;
   
 }
 .fa-podcast{
    color: #a8a7a7;
    font-size: 15px;
 }

 .fa-desktop{
    color:  #a8a7a7;
    font-size: 15px;
    margin-left: 10px;
 }
 .fa-volume-up{
    color: #a8a7a7;
    font-size: 15px;
    margin-left: 10px;
 }
 .icon-footer-end{
     display: flex;
     margin-top: 10px;
     margin-right: 50px;
     align-items: center;
 }
 .line-volume{
     margin-left: 10px;
    border-top: 3px solid #a8a7a7;
    width: 100px;
 }
 .fa-heart{
    color: #a8a7a7;
    font-size: 15px;
 }
 .fa-window-maximize{
    color: #a8a7a7;
    font-size: 15px;
    margin-left: 10px;
 }
 .description{
     margin-top: 35px;
     display: flex;
     flex-direction: column;
 }
 .song-footer{
     font-size:12px;
    color: white;
 }
 .title-img-footer{
    font-size:12px;
    color: #a8a7a7;
 }
 p{
     margin: 0;
 }
 .icon-img-footer{
    margin-top: 40px;
    margin-left: 10px;
 }
.red{
    color:red;
}
i:hover{
    color: white;

}
.none{
    display: none;
}